@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}